<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title><%= page %> | Basic informational site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include ('./elements/nav') -%>
    <main>
      <h1><%= page %></h1>
    </main>
    <%- include ('./elements/footer') -%>
  </body>
</html>